
.header-container{
    display: flex;
    justify-content: center;

}

.header-container > a {
    margin-left: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-decoration: none;
    color: black;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
center p{
    display: block;
    margin: auto 0;
}

ul li{
    list-style-type: none;
}
.project-container{
    margin-left: 100px;
    margin-top: 100px;;
}

.project-container div{
    margin-top: 3em;
}

div a {
    
}